#delete-modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                svg(viewboxsize='845.7999877929688' data-root-id='1235781114213' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 0 410.67999267578125 473.9000244140625' height='135.98367309570312' width='117.8429113284579' y='318.697' x='363.979' preserveaspectratio='xMinYMin' zoom='0.67' data-layer-role='icon' style='height: 52.984px; width: 50.843px; top: 318.697px; left: 363.979px;')
                    lineargradient#linear-gradient(x1='114.92' y1='195.74' x2='1075.19' y2='648.34' gradientunits='userSpaceOnUse' name='Layer 1' zoom='0.67' data-layer-id='6270017214213')
                        stop(offset='0' stop-color='#b69561')
                        stop(offset='0.09' stop-color='#e9d397')
                        stop(offset='0.12' stop-color='#dfc68c')
                        stop(offset='0.2' stop-color='#cdb179')
                        stop(offset='0.29' stop-color='#c0a16b')
                        stop(offset='0.38' stop-color='#b89863')
                        stop(offset='0.52' stop-color='#b69561')
                        stop(offset='0.64' stop-color='#ba9964')
                        stop(offset='0.76' stop-color='#c7a56d')
                        stop(offset='0.88' stop-color='#dcb97c')
                        stop(offset='1' stop-color='#f9d591')
                    lineargradient#linear-gradient-2(x1='116' y1='193.44' x2='1076.27' y2='646.05' xlink:href='#linear-gradient' name='Layer 2' zoom='0.67' data-layer-id='0320996914213')
                    polygon#Calque_1-2.cls-1(dataname='Calque 1' points='346.68 69.45 346.68 314.29 280.68 352.54 280.68 265.77 131.68 265.77 131.68 431.17 138.34 435.03 205.41 473.9 205.42 473.9 280.68 430.29 346.68 392.04 410.68 354.95 410.68 106.54 346.68 69.45' name='Layer 3' zoom='0.67' data-layer-id='1364297214213' style='fill: rgb(64, 77, 91); fill-opacity: 1;')
                    polygon#Calque_1-2.cls-2(dataname='Calque 1' points='279 208.13 279 42.73 272.34 38.87 205.27 0 205.26 0 130 43.61 64 81.86 0 118.95 0 367.36 64 404.45 64 159.61 130 121.36 130 208.13 279 208.13' name='Layer 4' zoom='0.67' data-layer-id='0735050314213' style='fill: url("#linear-gradient-2");')
                button.close(type='button' aria-label='Close' data-dismiss='modal' style='color: #; outline: none; z-index:99')
                    span(style='font-size: 40px;') &times;
                h4(style="position: absolute; width: 100%; text-align:center; font-weight: bold; font-style: italic; font-size:32px;")#delete-modal-title.modal-title
            #delete-modal-body.modal-body
            .modal-footer(style='padding-bottom: 20px;')
                button.btn.btfooter(type='button' data-dismiss='modal' style='margin: 0 auto; width: 200px; border-radius: 34rem;font-size: 14px; font-weight: bold; height: 46px; border: none; padding: 10px;') Close
                button.submit.btn-danger#delete-access(type='submit' style='margin: 0 auto; width: 200px; border-radius: 34rem;font-size: 14px; font-weight: bold; height: 46px; border: none; padding: 10px; margin-right: 5px;') Delete
